.App {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}
#editorWindowWrapper {
  box-shadow: 0 0 20px darkgray;
  position: absolute;
  left: calc(50% - 350px);
  width: 700px;
}
#clause {
  position: absolute;
  bottom: 10px;
  font-size: 10px;
}
#clause a {
  text-decoration: none;
  font-weight: 700;
  color: #3700b3;
}

@media only screen and (max-width: 480px) {
  .App {
    padding-top: 0;
  }
  #editorWindowWrapper {
    left: 0;
    width: 100vw;
  }
}